
{% extends 'core.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
   <form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.solicitante.label_tag }}
        {{ form.solicitante|crispy }}
    </div>
    <div class="form-group">
        {{ form.data_hora_aula_substituida.label_tag }}
        {{ form.data_hora_aula_substituida|crispy }}
    </div>
    <div class="form-group">
        {{ form.substituto_nome.label_tag }}
        {{ form.substituto_nome|crispy }}
    </div>
    <div class="form-group">
        {{ form.turma_afetada.label_tag }}
        {{ form.turma_afetada|crispy }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eaQyAEXpE9c5JtvFeIM7bRJS0B6n0TOV9PQsPVlTf3ahBBPLj8S7fsyRV2IVgN6C" crossorigin="anonymous"></script>

{% endblock content %}